In [1]:
import pandas as pd
import  numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('train.csv')
df.shape

(404290, 6)

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
new_df = df.sample(30000)

In [5]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [6]:
new_df.duplicated().sum()

0

In [7]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
274000,How can we change a country?,How can I change my country on Spotify?
187727,Ms. Clinton: How will you pull back from the h...,Are white people more nationalistic than other...
270368,How can I be important in the society?,How important are morals in society?
52660,What was you mothers maiden name?,"What does ""mother's maiden name"" mean?"
279885,What will be your New Year's resolution for 2017?,What is your resolution for 2017?

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv =CountVectorizer(max_features=3000)
questions = list(ques_df['question1'])+list(ques_df['question2'])
q1_arr,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [9]:
temp_df1 = pd.DataFrame(q1_arr,index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr,index=ques_df.index)
temp_df = pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 6000)

In [10]:
temp_df['is_duplicate']= new_df['is_duplicate']

In [11]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
274000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=10)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf =RandomForestClassifier()
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.7426666666666667